@page "/stand/{StandId:int}"

<h3 class="mb-4">Dettagli stand @StandId</h3>

@if (oggettiStand.Count > 0)
{
	<table class="table table-hover table-sm m-0">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Tipo</th>
				<th scope="col">Materiale principale</th>
				<th scope="col">Epoca</th>
				<th scope="col">Prezzo</th>
				<th scope="col">Stand</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (Oggetto item in oggettiStand)
			{
				<tr class="align-middle">
					<th scope="row">@item.idOggetto</th>
					<td>@item.tipo</td>
					<td>@(item.materialePrincipale == "" ? "Sconosciuto" : item.materialePrincipale)</td>
					<td>@(item.epoca == "" ? "Sconosciuta" : item.epoca)</td>
					<td>@item.prezzoEsposto €</td>
					<td>@item.standId</td>
					<td><a href="oggetto/@item.idOggetto" class="text-muted " title="Vedi dettagli dell'oggetto @item.idOggetto"><i class="bi bi-box-arrow-up-right"></i></a></td>
				</tr>
			}
		</tbody>
	</table>
} else
{
	<div class="alert alert-danger" role="alert">
		<i class="bi bi-exclamation-circle-fill"></i>
		Non sono stati trovati oggetti esposti per questo stand.
	</div>
}

@code {
	[Parameter]
	public int StandId { get; set; }
	bool doesExist = false;

	List<Oggetto> oggettiStand = new List<Oggetto>();

	protected override void OnInitialized()
	{
		base.OnInitialized();
		CaricaArchivioStand_Click();
	}

	private void CaricaArchivioStand_Click()
	{
		oggettiStand.Clear();
		string connString = "Data Source=Data/dbStandAntiquariato.db;";
		SqliteConnection myConn = new SqliteConnection(connString);
		SqliteCommand myCommand = new SqliteCommand($"SELECT * FROM tblOggetti WHERE standId={StandId};");
		SqliteDataReader myDr;
		myCommand.Connection = myConn;

		myConn.Open();

		myDr = myCommand.ExecuteReader();

		while (myDr.Read())
		{
			Oggetto x = new Oggetto
				{
					idOggetto = Convert.ToInt32(myDr["idOggetto"]),
					tipo = Convert.ToString(myDr["tipo"]),
					materialePrincipale = Convert.ToString(myDr["materialePrincipale"]),
					epoca = Convert.ToString(myDr["epoca"]),
					prezzoEsposto = Convert.ToDecimal(myDr["prezzoEsposto"]),
					standId = Convert.ToInt32(myDr["standId"])
				};
			oggettiStand.Add(x);
		}

		myConn.Close();
	}
}
